
.container{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.product{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    text-align: center;
    border: 1px solid #ddd; /* Add a border */
    border-radius: 50px; /* Add rounded corners */
    overflow: hidden; /* Hide overflow content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
    transition: box-shadow 0.3s ease;
    text-decoration: none !important;
}

.product:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img{
    width: 300px;
    height: 300px;
}

.product h4{
    color: gray;
    text-decoration: none !important;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.product h5{
    color: darkorange;
    text-decoration: none !important;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.containerrawcoconut{
    width: 1100px;
    margin: 0 auto;
}

.namaproduk{
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.minimum {
    width: 350px;
    height: 225px;
    background-color: #082f49;
    border-radius: 50px; /* Add rounded corners */
    margin-right: 25px;
    align-content: center;
    text-align: center;
    
}

.minimum p {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #fff;
 
}

.production {
    width: 350px;
    height: 225px;
    background-color: #082f49;
    border-radius: 50px; /* Adxd rounded corners */
    margin-right: 25px;
    align-content: center;
    text-align: center;
}

.production p {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #fff;
}

.certificate {
    width: 350px;
    height: 225px;
    background-color: #082f49;
    border-radius: 50px; /* Add rounded corners */
    align-content: center;
    text-align: center;
}

.certificate p {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #fff;
}

.detail{
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: gray;
    margin-top: 30px;
}

.specifications {

    width: 1100px;
    margin-left: 210px;
    margin-top: 10px;
}

.shipping {
    width: 1100px;
    margin-left: 210px;
    margin-top: 10px;
}

.table-custom {
    width: 100%;
    color: gray;
    border: 1px solid gray;
    padding: 10px 15px;
    border-collapse: separate;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border-style: solid;
}

.bigword {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #082f49;
    margin-top: 50px;
}

.my-button {
    background-color: #082f49; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 8px 15px; /* Padding */
    text-align: center; /* Center text horizontally */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1150px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
}

.product-custom h1, p {
    color: #082f49;
}

footer {
    background-color: #082f49;
}

.kotak {
    background-color: #082f49;
}

.cub {
    background-color: #082f49;
}

.text-color {
    color: #082f49;
}

.navbar ul li a {
    color: #082f49;
}
.navbar ul li a:hover {
    color: #0c4a6e;
}

.button-custom {
    background-color: #082f49;
    transition: background-color 0.3s ease;
}

.button-custom:hover {
    background-color: #0c4a6e;
}

.font-icon {
    color: #3f3f46;
}

.about, .kotak {
    margin: 0 auto;
}


.request {
    margin-top: 100px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.social-links li {
    list-style: none;
}
.contact-box {
    padding: 15px;
}

.dashboard-custom {
    margin-left: 210px;
    width: 1000px;
}

.custom {
    margin-left: 10px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
 }

 .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .col-2{
    flex-basis: 50%;
    min-width: 300px;
 }
 .col-2 img{
    max-width: 100%;
    padding: 50px 0;
    border-radius: 10px;
 }
 .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 10px 0;
 }

 .table-request {
    margin: 0 auto;
 }

 .cocon {
    margin-left: 300px;
 }

 .order {
    margin-right: 150px;
 }